
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans');

body{
    font-family: 'Roboto', sans-serif;
}

h1 , h2 , h3 , h4 , h5 , h6, button{
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
}

label , input, p{
    font-family: 'Noto Sans KR', sans-serif;
}
}

h1{
    font-size: 35pt;
}